@import "mixin";
body{
    font:{
        family: 'Microsoft JhengHei', Tahoma, Geneva, Verdana, sans-serif;
    }

}
label{
    font-weight: normal;
}
.alert{
    margin: 10px 0;
}
.btn{
    &-day{
        @include hoverBtn(#3BA99C);
    }
    &-month{
        @include hoverBtn(#33658A);
    }
}
.txt{
    &-red{
        color: #ff5b57;
    }
}
//sweetalert
.swal2-modal .swal2-spacer{
    background: transparent;
}
//nav
.header .navbar-brand{
    width: 50%;
    max-width: 110px;
}
.nav{
    padding-top: 15px;
}
.points{
    > span{
        background-color: #ffb000;
        display: block;
        padding: 3px 5px;
        border-radius: 3px;
        color: #fff;
    }
    &:hover{
        opacity: 1 !important;
    }
}
//panel
.panel{
    &-heading{
        padding-top: 20px;
    }
    &-search{
        &-box{
            .btn-control{
                width: 34px;
                height: 34px;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
            }
            .add-btn, .search-btn{
                span{
                    display: none;
                }
            }
        }
        select.form-control{
            width: 100%;
        }
        .form-control{
            border-radius: .25rem;
        }
        .date{
            &-btn{
                .btn{
                    padding: 6px;
                }
            }
        }
        @media (max-width:1600px){
            &-box{
                margin-bottom: 10px !important;
                .form-group{
                    margin-bottom: 10px;
                }
                .search-btn{
                    margin-bottom: 10px;
                }
            }
            .date{
                &-btn{
                    .btn{
                        margin-bottom: 10px;
                    }
                }
                &-select{
                    margin-bottom: 10px;
                }
            }
        }
        @media (max-width:1000px){
            margin-top: 10px;
            justify-content: flex-start !important;
            &-box{
                > div{
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
        @media (max-width:575px){
            &-box{
                .form-group{
                    width: 100% !important;
                    margin-right: 0 !important;
                    >.form-control{
                        width: 100%;
                    }
                }
                .add-btn{
                    span{
                        display: inline-block;
                        margin-left: 5px;
                    }
                }
                .search-btn{
                    width: 100%;
                    span{
                        display: inline-block;
                        margin-left: 5px;
                    }
                }
            }
            .date{
                &-select{
                    width: 100%;
                    margin-right: 0 !important;
                }
            }
            
        }
    }
}

//form
.form{
    &-control{
        border-radius: 2px;
    }
    &-txt{
        padding: 8px 0 0;
    }
}
.required{
    &::after{
        content: "*";
        display: inline-block;
        color: #ff5b57;
        margin-left: 5px;
    }
}
.custom-file-input ~ .custom-file-label::after {
    content: "上传";
    line-height: 20px;
    height: 32px;
}
.custom-file-label, .custom-file-input {
    height: 34px;
}

//modal
.input-select{
    .select2{
        width: 100% !important;
    }
    .select2-container--default.select2-container--disabled .select2-selection--single{
        background-color: #eff2f4;
    }
    .select2-container--default .select2-selection--single{
        border: 1px solid #d3d8df;
        border-radius: 2px;
    }
}
.select2-container{
    z-index: 1051;
}
.modal{
    &-select-box{
        display: flex;
        align-items: center;
        > div{
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    &-select-item{
        display: flex;
        align-items: stretch;
        .select2-selection--single{
            border-radius: 0 2px 2px 0;
            line-height: 32px!important;
            border: 1px solid #ced4da;
        }
        @media(max-width:380px){
            .select2{
                width: 76px !important;
            }
        }
    }
    &-txt{
        border-radius: 2px 0 0 2px;
        display: flex;
        align-items: center;
        padding: 0 8px;
        background-color: #d3d8df;
        color: #495057;
        flex-wrap: nowrap;
    }
    
    .switcher {
        &-box{
            display: flex;
            align-items: center;
        }
        label{
            width: 40px;
            height: 20px;
            &::before{
                width: 40px;
                height: 20px;
            }
            &::after{
                width: 16px;
                height: 16px;
            }
        }
        input:checked+label:after{
            left: 22px;
        }
    }
}
//button
.btn{
    &-control{
        padding: 4px;
        border-radius: 2px;
    }
}
//permission
#limits-dialog{
    .toggle{
        > div{
            cursor: pointer;
            margin-left:10px;
            display: flex;
            background-color: #d6dce0;
            align-items: center;
            padding: 5px;
            border-radius: 3px;
            color: #2d353c;
            margin-bottom: 5px;
            i{
                margin-left: auto;
            }
        }
    }
    .select-all{
        display: flex;
        // background-image: url('../img/first-32px.png'), url('../assets/plugins/jstree/dist/themes/default/32px.png');
        // background-position: 9px -4px, -292px -4px;
        // background-repeat: no-repeat, repeat-y;
        padding-top: 0;
        > div{
            width: 50%;
            line-height: 24px;
            height: 24px;
        }
        label{
            padding-left: 5px;
            color: inherit;
            i{
                margin-right: 5px;
            }
        }
        input{
            margin-left: 0;
            margin-right: 5px;
            position: relative;
        }
    }
    .jstree-default {
        .jstree-themeicon-custom{
            display: none;
        }
    }
    .jstree-anchor{
        width: calc(100% - 25px);
    }
    .jstree-container-ul{
        > li{
            &:first-child{
                .jstree-ocl{
                    background-image: url('../img/first-32px.png');
                    background-position: 9px -4px;
                }
            }
        }
    }
    .tree-item{
        display: flex;
        i{
            margin-right: 5px;
        }
        span{
            display: block;
            &:first-child{
                min-width: 70px;
            } 
        }
        .crud-box{
            width: calc(100% - 70px);
            text-align: right;
            > div{
                vertical-align: middle;
                display: inline-block;
            }
            &::before{
                content: "";
                border-bottom: 1px dotted rgba(0,0,0,.2);
                width:calc(100% - 25px);
                vertical-align: middle;
                display: inline-block;
            }
        }
    }
}
//limit
.limit{
    &-main, &-sub, &-ssub{
        margin: 0;
        padding: 0;
        list-style: none;
        i{
            margin-right: 5px;
        }
        li{
            cursor: pointer;
            position: relative;
            div{
                padding: 3px;
                &:hover{
                    background-color: #cad0d2;
                }  
            }
            span{
                display: inline-block;
                vertical-align: middle;
                &:first-child{
                    width: 115px;
                }  
            }
        }
        .crud-box{
            width: calc(100% - 120px);
            text-align: right;
            > div{
                vertical-align: middle;
                display: inline-block;
            }
            &::before{
                content: "";
                border-bottom: 1px dotted rgba(0,0,0,.2);
                width:calc(100% - 25px);
                vertical-align: middle;
                display: inline-block;
            }
        }
    }
    &-sub, &-ssub{
        li{
            margin-bottom: 0;
            padding-left: 30px;
            background-position: -292px -4px;
            background-repeat: repeat-y;
            background-image: url(../assets/plugins/jstree/dist/themes/default/32px.png);
            > div{
                padding: 0 3px;
            }
            &::before{
                content: "";
                display: inline-block;
                width: 24px;
                height: 24px;
                background-position: -75px -6px;
                background-image: url(../assets/plugins/jstree/dist/themes/default/32px.png);
                position: absolute;
                left: 7px;
            }
            
        }
    }
    &-main, &-ssub{
        > li{
            &:last-child{
                &::after{
                    content: "";
                    display: block;
                    width: 4px;
                    height: 12px;
                    background-color:#fff;
                    position: absolute;
                    left: 10px;
                    bottom: 0;
                }
            }
        }
    }
    &-ssub{
        padding-left:0;
        margin-left: -5px;
    }
    
}
//table
.table{
    &-box{
        >thead{
            >tr{
                >th{
                    border-top:1px solid #b6c2c9 !important;
                }
            }
        }
        >tbody{
            >tr{
                >td{
                    vertical-align: middle;
                    padding: 5px 10px;
                }
            }
        }
        .btn{
            line-height: 12px;
        }
    }
    &-status{
        width: 100px;
    }
}
//page
.pagination{
    &-box{
        .page-item{
            &.active{
                .page-link{
                    background-color:#545b62 !important;
                    border-color: #545b62 !important;
                    &:focus{
                        box-shadow: none;
                    }
                }
            }
            .page-link{
                &:focus{
                    box-shadow: none;
                }
            }
        }
        
    }
}
//profile
.upload-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.custom-file{
    flex: none;
    width: inherit;
    height: inherit;
    margin: 3px 5px 3px 0;
    input[type="file"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }
    .custom-file-upload {
        @include hoverBtn(#d3d8df);
        display: inline-block;
        color: #495057;
        padding: 6px 12px;
        cursor: pointer;
        border-radius: 2px;
        margin-bottom: 0;
    }
}
.upload-info{
    td{
        min-width: 100px;
        vertical-align: middle;
        img{
            height: 100px;
        }
        span{
            a{
                width: 25px;
                height: 25px;
                line-height: 15px;
            }
        }
    }
}
//basic
.basic{
    &-list{
        display: flex;
        align-items: center;
    }
    &-item{
        display: flex;
        align-items: center;
        width: 50%;
        margin-bottom: 10px;
        &:nth-child(2n+1){
            margin-right: 10px;
        }
        .title{
            width: 90px;
        }
        .input{
            width: calc(100% - 90px);
        }
    }
    @media (min-width:768px) and (max-width:991px){
        &-list{
            flex-direction: column;
        }
        &-item{
            width: 100%;
            &:nth-child(2n+1){
                margin-right: 0;
            }
        }
    }
    @media(max-width:500px){
        &-list{
            flex-direction: column;
        }
        &-item{
            width: 100%;
            &:nth-child(2n+1){
                margin-right: 0;
            }
        }
    }
}

.table-img{
    img{
        height: 60px;
    }
}
//activity
.date-select-modal{
    // display: none;
    > div{
        display: flex;
        align-items: center;
        >div{
            display: flex;
            align-items: center;
            .title{
                width: 40px;
            }
        }
    }
}
.editable{
    &-popup{
        top: -15px !important;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,.2);
    }
    &-submit{
        &.btn-primary{
            background: #49b6d6;
            border-color: #49b6d6;
        }
        
    }
}
//rate-set
.table-rate{
    th{
        min-width: 150px;
        &:nth-child(1){
            min-width: 30px;
        }
    }
}
.rate-input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    .form-check{
        margin-right: 5px;
    }
    .form-input{
        input{
            width: 75px;
            padding: 6px;
        }
    }
}
